<?xml version="1.0"?>
<configuration>
  <!-- Standard ASP.NET 4.5 configuration; see http://go.microsoft.com/fwlink/?LinkId=169433 -->
  <system.web>
    <compilation debug="false" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <!-- Register the REST server component -->
      <add name="RemoteStorage" path="RemoteStorage" verb="*" type="RemoteStorage"/>
    </handlers>
    <staticContent>
      <!-- Register the MIME type for the cache manifest -->
      <remove fileExtension=".appcache"/>
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <!-- Clear other custom headers -->
        <clear/>
        <!-- Limit resources to the same origin (allowing inline styles and script evaluation) -->
        <add name="Content-Security-Policy" value="default-src 'self' ; referrer no-referrer"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!-- Disable caching for the cache manifest file -->
  <location path="offline.appcache">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache"/>
      </staticContent>
    </system.webServer>
  </location>
</configuration>
